@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 28, 84);
  background: linear-gradient(
    90deg,
    rgba(0, 28, 84, 1) 0%,
    rgba(96, 33, 86, 1) 20%,
    rgba(0, 28, 84, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Share Tech Mono", monospace;
}
