@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.header{
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-around;
    background-color: #131241;
    background-image: url("../../Assets/images/fundo.webp");
}

.header__logo{
    font-size: 3vw;
    font-family: 'Italiana', serif;
    color: #fb2aab;
    text-shadow: rgb(251 5 157) 0px 0px 4.23439px, rgb(251 34 168) 0px 0px 21.172px, rgb(251 34 168) 0px 0px 63.5159px;
}

